body {
  overflow: hidden;
}

/* Background */
.bg-oxford_blue {
  background-color: #031d44;
}

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-fade-in {
  animation: fade-in 1.5s ease-in-out;
}

.animate-slide-in-left {
  animation: slide-in-left 1.5s ease-in-out;
}


/* Colors */
.text-anti-flash_white {
  color: #f8f8f8;
}

.bg-saffron {
  background-color: #f4c542;
}

.text-night {
  color: #031d44;
}
